{{define "modules.set_color.success" -}}
{{if .DryRun}}[DRYRUN] {{end}}Set color to `{{.Color}}`
{{- end}}

{{define "modules.set_color.errors.color_convert" -}}
error converting color
{{- end}}

{{define "modules.set_color.errors.guild_roles" -}}
error getting guild roles
{{- end}}

{{define "modules.set_color.errors.role_update" -}}
error updating color role
{{- end}}

{{define "modules.set_color.errors.role_create" -}}
error creating color role
{{- end}}

{{define "modules.set_color.errors.role_add_member" -}}
error adding color role to member
{{- end}}

{{define "modules.set_color.errors.fetch_user" -}}
unable to fetch user
{{- end}}

{{define "modules.set_color.errors.no_accent_color" -}}
user has no profile color
{{- end}}