{{define "modules.user_log.join" -}}
{{template "emojis.join"}} {{.User}} joined the server.
{{- end}}

{{define "modules.user_log.left" -}}
{{template "emojis.leave"}} {{.User}} left the server.
{{- end}}